gitrun.sh
/GameExampleWorkspace1/nbproject/private/
/GameExampleWorkspace1/dist/
/GameExampleWorkspace1/build/
/CelsiusConverterProject/nbproject/private/
/ExampleProject1/nbproject/private/
/CelsiusConverterProject/build/
/CelsiusConverterProject/dist/
/LotteryGame1/nbproject/private/
/LotteryGame1/dist/
/LotteryGame1/build/
.remove
/CelciusConverterLatest/nbproject/private/
/CelciusConverterLatest/build/
/CelciusConverterLatest/dist/
/Midterm1/nbproject/private/
/Midterm1/dist/
/Midterm1/build/
/OOPSandbox/nbproject/private/
/OOPSandbox/build/
/OOPSandbox/dist/